<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDL_INSCRIPTION</title>
</head>
<body>

    <header>
        <nav style="text-align: center; text-decoration: dashed;">
            <ul>
                <li style="display: inline-block; margin: 1.2rem; font-size: x-large;"><span style="display: inline-block; width: 4.5rem; vertical-align: middle;"><img style="display: block; width: 100%;"  src="assets/logo/Logo_MDL.png" alt="LOGO"></span></li>
                <li style="display: inline-block; margin: 1.2rem; font-size: x-large;"><a href="./inscription_user.html">Inscription</a></li>
                <li style="display: inline-block; margin: 1.2rem; font-size: x-large;"><a href="./connexion_user.html">Connexion</a></li>
                <li style="display: inline-block; margin: 1.2rem; font-size: x-large;"><a href="#">Admin</a></li>
            </ul>
        </nav>
    </header>

    <section style="text-align: center;position: relative; left: 2%;max-width: 96%">
        <h1>
            MAISON DES LIGUES TOUS LES SPORTS
        </h1>

        <h2>
            🏆Vous êtes le nouveau membre
        </h2>
    </section> 

    <section style="position: relative; left: 2%;max-width: 96%">
        <h3>
            Vos infos
        </h3>

        <li>Nom : le nom</li>
        <li>Prénom : le prénom</li>
        <li>Date de naissance : dd mm yyyy</li>
        <li>Ville : votre ville</li>
        <li>Mail : mail@mail.mail</li>

        <li style="list-style: none;">
            votre photo

            <img src="" alt="">
        </li>

        <form style="margin: 1.0rem;" action="">
            <button>Revenir à l'accueil</button>
        </form>

        <form style="margin: 1.0rem;" action="">
            <button>Connectez vous</button>
        </form>
    </section>

    
</body>
</html>