<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <nav style="text-align: center; text-decoration: dashed;">
            <ul>
                <li style="display: inline-block; margin: 1.2rem; font-size: x-large;"><span style="display: inline-block; width: 4.5rem; vertical-align: middle;"><img style="display: block; width: 100%;"  src="assets/logo/Logo_MDL.png" alt="LOGO"></span></li>
                <li style="display: inline-block; margin: 1.2rem; font-size: x-large;"><a href="./inscription_user.html">Inscription</a></li>
                <li style="display: inline-block; margin: 1.2rem; font-size: x-large;"><a href="./connexion_user.html">Connexion</a></li>
                <li style="display: inline-block; margin: 1.2rem; font-size: x-large;"><a href="#">Admin</a></li>
            </ul>
        </nav>
    </header>

    <section style="text-align: center;position: relative; left: 2%;max-width: 96%">
        <h1>
            MAISON DES LIGUES TOUS LES SPORTS
        </h1>
    </section> 

    <style>
        input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #100808;
  box-sizing: border-box;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}
    </style>

    <form action="#" method="post">
        <fieldset>
            <legend><b>CONNEXION MEMBRE</b></legend>
            <div class="imgcontainer">
                <img src="../assets/logo/Python.png" alt="PROFIL_PICTURE" class="avatar">
            </div>

            <div>
                <label for="">Login</label><input type="text">
                <label for="">Choisir un mot de passe</label><input type="password">
            </div>
            </fieldset>
    </form>
    
</body>
</html>